/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
* {
  font-family: Cairo;
}

body {
  background-color: #001233;
}

/*Título: Login*/
.headingText {
  margin-top: 0px;
}

/*Box*/
.loginForm {
  max-width: 480px;
  margin: 0 auto;
  top: 50%;
  -ms-transform: translateY(50%);
  transform: translateY(40%);
}
  
form{
  width: auto;
  margin: 0 auto;
  padding: 40px;
  padding-bottom: 50px;
  background-color: white;
  border-radius: 10px;
}

/*Campos (e-mail e senha)*/
.emailLabel, .passwordLabel{
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
}

.emailInput, .passwordInput, .submitInput {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px;
  color: #edf0f1;
  font-size: 14px;
  background-color: #33415c;
  border: 2px solid #2F9E41;
  border-radius: 10px;
}

/*Foco do campo*/
input:focus {
  border: 2px solid red;
  transition: all 0.3s ease 0s;
}

/*Botão de Login*/
input[type="submit"] {
  margin: 0 auto;
  width: 50%;
  margin-top: 25px;
  margin-bottom: 5px;
  background: #2F9E41;
  border: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}
  
input[type="submit"]:hover {
  color: black;
  background: red;
  transition: all 0.3s ease 0s;
}
  
input[type="submit"]:focus {
  color: black;
  background: #001233;
}

/*Ainda não cadastrado? Clique aqui*/
.register {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

.registerRedirect {
  padding: 6px;
  font-size: 14px;
}

.registerRedirect:hover {
  color: red;
  transition: all 0.3s ease 0s;
}

.rememberMeInput{
  border: 2px solid #2F9E41;
  border-radius: 10px;
}

.rememberMe {
  font-size: 14px;
}

/*Remoção das bordas vermelhas de erro do input*/
input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: 0 0 0px;
}
